body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.header, .footer {
    text-align: center;
}
.footer {
    padding: 20px;
    font-size:x-small;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
}
.grid-item {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.attacked {
    background-color: lightcoral;
}